<ion-header>
  <ion-toolbar>
    <ion-title>
      ng-paakat-ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input type="text" placeholder="paakat Qr Code data" [(ngModel)]="qrData"></ion-input>
  </ion-item>

  <button ion-button full icon-left (click)="createCode(); platformDetection()">
    <ion-icon name="barcode"></ion-icon>
    Create Code
  </button>

  <button ion-button full icon-left (click)="scanCode()">
    <ion-icon name="barcode"></ion-icon>
    Scan Code
  </button>
  <!-- <ng-container *ngIf="isWeb"> -->
    <zxing-scanner [enable]="isWeb" [hidden]="hideCamera" [autofocusEnabled]='true'  #scannerComponent (scanSuccess)="handleQrCodeResult($event)"  [formats]="['AZTEC', 'CODABAR', 'CODE_39', 'CODE_93', 'CODE_128', 'DATA_MATRIX', 'EAN_8', 'EAN_13', 'ITF', 'MAXICODE', 'PDF_417', 'QR_CODE', 'RSS_14', 'RSS_EXPANDED',' UPC_A', 'UPC_E', 'UPC_EAN_EXTENSION']"></zxing-scanner>
  <!-- </ng-container> -->
  
  <ng-container *ngIf="hideCamera; else elseTemplate">
    <p>Hola hay camara</p>
    <p>{{qrCodeResults}}</p>
  </ng-container>
  <ng-template #elseTemplate>
      <p>Hola no camara</p>
  </ng-template>
  

  <ion-card *ngIf="createdCode">
    <ngx-qrcode [(qrc-value)]="createdCode"></ngx-qrcode>
    <ion-card-content>
      <p>Value: {{ createdCode }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="scannedCode">
    <ion-card-content>
     <p>Result from Scan: {{ scannedCode }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
