<ion-header>
  <ion-toolbar>
    <ion-title>
      ng-paakat-ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input type="text" placeholder="paakat Qr Code data" [(ngModel)]="qrData"></ion-input>
  </ion-item>
  <ion-grid class="hydrated">
      <ion-row class="hydrated">
        <ion-col class="hydrated">
          <ion-button expand="block" color="primary" class="ion-color ion-color-primary button button-block button-solid ion-activatable ion-focusable hydrated" (click)="createCode(); platformDetection()">
            <ion-icon slot="start" name="barcode"></ion-icon>
            Create Code
          </ion-button>
        </ion-col>
        <ion-col class="hydrated">
          <ion-button expand="block" color="primary" class="ion-color ion-color-primary button button-block button-solid ion-activatable ion-focusable hydrated" (click)="scanCode()">
              <ion-icon slot="start" name="ios-qr-scanner" md="md-qr-scanner"></ion-icon>
              Scan Code
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <zxing-scanner [enable]="isWeb" [hidden]="hideCamera" [autofocusEnabled]='true' #scannerComponent (scanSuccess)="handleQrCodeResult($event)"  [formats]="['AZTEC', 'CODABAR', 'CODE_39', 'CODE_93', 'CODE_128', 'DATA_MATRIX', 'EAN_8', 'EAN_13', 'ITF', 'MAXICODE', 'PDF_417', 'QR_CODE', 'RSS_14', 'RSS_EXPANDED',' UPC_A', 'UPC_E', 'UPC_EAN_EXTENSION']"></zxing-scanner>
  
  <ng-container *ngIf="!hideCamera; else elseTemplate">
    <p>Activa la Camara o crea un Codigo</p>
    <p>{{qrCodeResults}}</p>
  </ng-container>
  <ng-template #elseTemplate>
      <p>Al parecer no hay camaras disponibles</p>
  </ng-template>
  

  <ion-card *ngIf="createdCode">
    <ngx-qrcode [(qrc-value)]="createdCode"></ngx-qrcode>
    <ion-card-content>
      <p>Value: {{ createdCode }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="scannedCode">
    <ion-card-content>
     <p>Result from Scan: {{ scannedCode }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
