<ion-header>
  <ion-toolbar>
    <ion-title>
      ng-paakat-ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input type="text" placeholder="paakat Qr Code data" [(ngModel)]="qrData"></ion-input>
  </ion-item>

  <button ion-button full icon-left (click)="createCode()">
    <ion-icon name="barcode"></ion-icon>
    Create Code
  </button>
  <button ion-button full icon-left (click)="scanCode()">
    <ion-icon name="barcode"></ion-icon>
    Scan Code
  </button>

  <ion-card *ngIf="createdCode">
    <ngx-qrcode [(qrc-value)]="createdCode"></ngx-qrcode>
    <ion-card-content>
      <p>Value: {{ createdCode }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="scannedCode">
    <ion-card-content>
     <p>Result from Scan: {{ scannedCode }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
